body {
	margin: 10px;
	padding: 0;
	background: #eee;
	font: 11px arial, sans-serif;
	color: #000;
}

h1 {
	margin: 0;
	padding: 10px 0 20px 0;
	font-size: 16px;
}

h2 {
	margin: 0;
	padding: 30px 0 15px 0;
	font-size: 15px;
}

input, textarea {
	padding: 3px;
	background: white;
	font-family: arial, sans-serif;
	border: 1px solid #999;
}
input {
	font-size: 15px;
	font-weight: bold;
	width: 200px;
	height: 30px;
}
textarea {
	font-size: 13px;
	line-height: 1.6em;
	width: 650px;
	height: 200px;
	white-space: nowrap;
}